    /*Configurações Padrões*/
 
   
    ul.menu,
    .menu li,
    .menu a {
        list-style: none;
        text-decoration: none;
        top: -21px;
        left: -20px;
    }

    ul.menu ul {
        position: absolute;
        display: none;
        font-size: 20px;
        /*text-align:right;*/


    }

    /* Configurações nivel 1*/
    ul.menu {
        float: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }

    .menu li {
        float: left;
        width: auto;
        position: relative;
    }

    .menu li a {
        display: block;
        line-height: 45px;
        float: left;
        transition: all 0.1s linear;
    }

    /* Configurações nivel 2*/
    .menu li:hover>ul.submenu-1 {
        display: block;
        top: 34px; 
        left: 0;
        padding: 20px;
        width: 160px;
        
    }

    .menu ul.submenu-1 a {
        width: 160px;
        padding: 0 20px;
    }

    /* Configurações nivel 2*/
    .menu li:hover>ul.submenu-2 {
        display: block;
        top: 22px;
        left: 200px;
        padding: 20px;
        width: 160px;
    }

    .menu ul.submenu-2 a {
        width: 160px;
        padding: 0 20px;
    }

    /* Configurações nivel 3*/
    .menu li:hover>ul.submenu-3 {
        display: block;
        top: 0;
        left: 195px;
        padding: 5px;
        width: 200px;
    }

    .menu ul.submenu-3 a {
        width: 160px;
        padding: 0 20px;
    }

    /*Configurações de cores*/
    /*nivel 1*/
   

    .menu a {
        color: #000;
    }

 

    /*nivel 2*/
    .submenu-1 {
        background:#BA0C2E;
    }

    .submenu-1 a {
        color: #fff;
    }

    .submenu-1 li:hover>a {
        background:#DB2A4D;
    }

    /*nivel 3*/
    .submenu-2 {
        background:#BA0C2E;
    }

    .submenu-2 a {
        color: #fff;
    }

    .submenu-2 li:hover>a {
        background:#DB2A4D;
    }

    .submenu-3 a {
        color: #fff;
    }

    .submenu-3 li:hover>a {
        background: #000;
    }
